.container-form {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

main input, main button {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
}

main input[type="date"] {
    color: black;
    background-color: rgb(219, 219, 219);
}


main button {
    color: white;
    background-color: #0044AA;
}

main button[type="reset"] {
    background-color: #AA0044;
}

main button:hover {
    background-color: #0022AA;
}

main button[type="reset"]:hover {
    background-color: #CC1155;
}