:root {
    --main-bg-color: #EAC926;
    --articles-bg-color: #ebebeb; 
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

.price {
    font-size: 18px;
}

.disc {
    font-size: 16px;
}

.descr {
    font-size: 16px;
}

.productos {
    background-color: var(--articles-bg-color);
}

article {
    background-color: white;
}

.green {
    color: #39b54a;
}

.blue {
    color:#03264C;
}

.light-blue {
    color:#1259c3;;
}

.dark-grey {
    color: #666;
}