:root {
    --main-bg-color: #EAC926;
    --articles-bg-color: #ebebeb; 
    --green: #39b54a;
    --blue:#03264C;
    --light-blue: #1259c3;
    --dark-grey: #666;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-bg-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

article {
    background-color: white;
}

/*------------------------ main classes ------------------------*/

.price {
    font-size: 18px;
}

.disc {
    font-size: 16px;
}

.descr {
    font-size: 16px;
}

.productos {
    background-color: var(--articles-bg-color);
}

/*------------------------ Color classes ------------------------*/

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.light-blue {
    color: var(--light-blue);
}

.dark-grey {
    color: var(--dark-grey);
}